/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .textButton {
  text-align: left;
  max-width: 475px;
  color: white;
  text-decoration: none;
}
.textButton:hover {
  color: white;
}
.textButtonHead{
  font-weight: 600;
  margin-bottom: 8px;
}
.textButtonDesc{
  color:var(--lightgray);
}
html[data-theme='light']  .textButton {
  border-color: #ffffff62;;
}
html[data-theme='light']  .textButton:hover {
  border-color: white;;
}


.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

