.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 200px;
}


html[data-theme='dark'] .featureSvg {
  filter: invert(1) hue-rotate(167deg);
}