/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.search-icon {
  visibility: hidden;
}

.navbar__search-input {
  background: var(--ifm-navbar-search-input-background-color) no-repeat .75rem center/1rem 1rem
}


/* You can override the default Infima variables here. */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');

:root {
  --ifm-color-primary: #3868E3;
  --ifm-color-primary-dark: #000D64;
  --ifm-color-primary-darker: #000D64;
  --ifm-color-primary-darkest: #000D64;
  --ifm-color-primary-light: #98B1EF;
  --ifm-color-primary-lighter: #98B1EF;
  --ifm-color-primary-lightest: #98B1EF;
  --ifm-code-font-size: 95%;
  --ifm-toc-border-color: none;
    --darkblue: #000D64;
    --blue: #2E59C7;
    --primary-blue: #3868E3;
    --lightblue: #98B1EF;
    --lightgray: #D7D7D7;
    --darkgray: #9F9F9F;
    --gray: #C4C4C4;
    --black: #292929;
    --red: #CA3000;
    --orange: #EC5500;
    --green: #039500;
    --yellow: #ECC600;
    --success: #039500;
    --borders-radius: 5px;
    --pink: #e83e8c;
    --darkpink: #6c1d42;
    --background-pattern-dark: url("./dark_bg.png");
    --background-pattern-light: url("./cyclic_pattern.svg");

    --shadow-close:  0px 2px 4px rgba(0, 0, 0, 0.075);
    --shadow-mid:  0px 8px 16px rgba(0, 0, 0, 0.15);
    --shadow-far:  0px 16px 48px rgba(0, 0, 0, 0.176);


}
.hero__title{
  font-size: 2.85em;
}
.hero__title, .hero__subtitle{
  font-weight: 300;
  letter-spacing: 2px;
  font-family: 'Titillium Web', sans-serif;
  word-wrap: normal;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Titillium Web', sans-serif;

}

header h1 {
  font-size: 2.75rem;
}

.navbar {
  height: 75px;
}

.navbar__inner{
  background-color:transparent !important;
  max-width: 1230px;
  margin:0px auto;
  left:0;
  right:0;
  padding:5px 40px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 19px;
  line-height: 20px;
}

.navbar__brand {
  margin-left: 16px;
  height: 55px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar--dark {
  --ifm-navbar-background-color: var(--blue);
}
.navbar__link{
  color: hsla(0,0%,100%,.5)
}
.navbar__link:hover{
  color: hsla(0,0%,100%,.75)
}
.menu__link--active{
  font-weight: bold;;
}
.navbar__link--active {
  color: white;
}
.navbar-sidebar__back{
  color: var(--gray)
}
html[data-theme='light'] .hero--primary {
  --ifm-hero-text-color: white;;
  background: var(--background-pattern-dark)!important;
  /* background: linear-gradient(to top,rgba(255,255,255,1) 4%,var(--ifm-background-color)),var(--background-pattern-dark)!important; */
}
html[data-theme='dark'] .hero--primary {
  --ifm-hero-text-color: white;;
  /* background: var(--background-pattern-dark)!important; */
  background: linear-gradient(to bottom,rgba(0,0,0,0) 11%,var(--ifm-background-color)),var(--background-pattern-dark)!important;
}
html[data-theme='light'] .footer{
  background: linear-gradient(to top,rgba(255,255,255,0) 70%,#fff),var(--background-pattern-light);
}

html[data-theme='dark'] .footer{
  background: linear-gradient(to top,rgba(0,0,0,0) -100%,var(--ifm-background-color)),var(--background-pattern-dark)!important;
}

.footer--dark {
  --ifm-footer-color: var(--darkgray);
  --ifm-footer-link-color: var(--darkgray);
  --ifm-footer-title-color: var(--darkgray);
}



@media screen and (max-width: 966px) {
  :root {
    --ifm-menu-color-active: white;
  }
}

html[data-theme='dark'] {
  --ifm-menu-color-active: white;
  --ifm-footer-link-color: black;
  --ifm-color-scheme: dark;
  --ifm-color-emphasis-300: var(--pink);
}
